<div class="container">
<div class="page-header">
    <h2>검색결과 <small>동교동</small></h2>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="content">
      <div class="property-row">
            <a href="#" class="property-row-image">
                <img class="img img-thumbnail" src="http://placehold.it/240x240" alt="">
            </a>
            <div class="property-row-content">
                <h2 class="property-row-title">
                    <%= link_to '식당 샘플', restaurant_detail_path(:id => 1) %>
                </h2>
            
                <ul class="property-row-location">
                    <li><a href="#">New York</a>,</li>
                    <li><a href="#">Brooklyn</a></li>
                </ul>
            
                <div class="property-row-body">
                    <p>
                    상세 설명이 들어갑니다.
                    </p>
                </div>
            
                <div class="property-row-meta">
                    <div class="property-row-meta-item">
                        <span><i class="fa fa-star"></i></span>
                        <strong>4.8</strong>
                    </div>
            
                    <div class="property-row-meta-item">
                        <span><i class="fa fa-pencil"></i></span>
                        <strong>99</strong>
                    </div>
            
                    <div class="property-row-meta-item">
                        <span><i class="fa fa-commenting-o"></i></span>
                        <strong>1,203</strong>
                    </div>
                </div>
            
            </div>
      </div>
    </div>
  </div>
</div>
</div>